addons.make
examole.sln
examole.vcxproj
examole.vcxproj.filters
examole.vcxproj.user
icon.rc
.vs/examole/FileContentIndex/04da773a-9005-498d-96fa-6e00f703c67a.vsidx
.vs/examole/FileContentIndex/6780a019-13bc-4952-928e-049b4808e53e.vsidx
.vs/examole/FileContentIndex/86616f62-d97e-4458-943a-312a5e41709f.vsidx
.vs/examole/FileContentIndex/c4267240-2000-4cb6-a784-00e8eefb3779.vsidx
.vs/examole/FileContentIndex/read.lock
.vs/examole/v17/.suo
.vs/examole/v17/Browse.VC.db
.vs/examole/v17/Browse.VC.db-shm
.vs/examole/v17/Browse.VC.db-wal
.vs/examole/v17/Browse.VC.opendb
.vs/examole/v17/fileList.bin
.vs/examole/v17/Solution.VC.db
.vs/examole/v17/Solution.VC.db-shm
.vs/examole/v17/Solution.VC.db-wal
.vs/examole/v17/ipch/AutoPCH/8c887c40a569be72/SCRATCH.ipch
.vs/examole/v17/ipch/AutoPCH/91b1e819e55a4e16/OFAPP.ipch
.vs/examole/v17/ipch/AutoPCH/a5916510fecc6027/SCRATCH.ipch
.vs/examole/v17/ipch/AutoPCH/a992825945b1e985/MAIN.ipch
bin/examole_debug.exe
bin/examole_debug.exp
bin/examole_debug.lib
bin/examole_debug.pdb
bin/fmod.dll
bin/fmodL.dll
bin/FreeImage.dll
bin/data/.gitkeep
bin/data/rainbow.tiff
bin/data/vag.ttf
obj/x64/Debug/examole.log
obj/x64/Debug/examole_debug.exe.recipe
obj/x64/Debug/examole_debug.ilk
obj/x64/Debug/icon.res
obj/x64/Debug/vc143.pdb
obj/x64/Debug/examole.tlog/CL.24148.write.1.tlog
obj/x64/Debug/examole.tlog/CL.command.1.tlog
obj/x64/Debug/examole.tlog/CL.read.1.tlog
obj/x64/Debug/examole.tlog/examole.lastbuildstate
obj/x64/Debug/examole.tlog/link.command.1.tlog
obj/x64/Debug/examole.tlog/link.read.1.tlog
obj/x64/Debug/examole.tlog/link.write.1.tlog
obj/x64/Debug/examole.tlog/link.write.2u.tlog
obj/x64/Debug/examole.tlog/rc.command.1.tlog
obj/x64/Debug/examole.tlog/rc.read.1.tlog
obj/x64/Debug/examole.tlog/rc.write.1.tlog
